
<ul>
    <li>Title: <%= result.title %></li>
    <li>Authors: <%= result.authors %></li>
    <li><img src="<%= result.image_url %>"></li>
    <li>Description: <%= result.description %></li>
    <li>ISBN: <%= result.isbn %></li>
</ul>
