<%- include('../../layout/head.ejs') %>

<body>
  <%- include('../../layout/header.ejs') %>
  <container class="containter">
  <ul>
    <% tenBooks.forEach(bookObj => { %>
    <li>Title: <%= bookObj.title %></li>
    <li>Author: <%= bookObj.authors %></li>
    <li>Description: <%= bookObj.description %></li>
    <li>ISBN: <%= bookObj.isbn %></li>
    <li><img src="<%= bookObj.image_url %>"></li>
    <li>
      <input type="submit" value="Select Book" id="showForm">
    <%- include('../../layout/updateForm.ejs', {bookObj: bookObj}) %>
    </li>
    <% }) %>
  </ul>
  </container>
<script src="JS/app.js"></script>
</body>

</html>
